* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 5px 0 0;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 100%;
  width: 100%;
}

main section {
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  width: 35vw;
  height: 40%;
  transition: 0.3s;
}

main section:hover {
  border: 1px solid black;
  border-radius: 10px;
  transform: scale(1.1);
}

h3 {
  font-size: 1.6rem;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 40px;
  width: 100%;
}

.external_link {
  color: #aaa;
  margin: 0 10px 0;
  text-decoration: none;
}
.external_link:hover {
  color: #fff;
}
.external_link:active {
  color: #888;
}