* {
  box-sizing: border-box;
  color: black;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-decoration: none;
}

body {
  background-color: #bbb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

header a {
  color: #ccc;
  text-decoration: underline;
  margin: 10px;
}

header a:hover {
  color: #fff;
}

h1 {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: calc(50vw - (301px / 2));
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 100%;
  width: 100%;
}

.project {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-self: center;
  padding: 10px;
  margin: 20px;
  width: 35vw;
  height: 40%;
  text-decoration: none;
  transition: 0.3s;
}

.project:hover {
  border: 1px solid black;
  border-radius: 10px;
  transform: scale(1.1);
}

.project section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1.6rem;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 40px;
  width: 100%;
}

.external_link {
  color: #aaa;
  margin: 0 10px 0;
}
.external_link:hover {
  color: #fff;
}
.external_link:active {
  color: #888;
}